/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

button {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--font-primary);
  font-variation-settings: 'wght' var(--font-primary-weight-base);

  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_style {
  width: var(--section-width);
  border: 2px solid black;
}

.header {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;

  padding: var(--padding-heading);
  margin: 100px 0;
  row-gap: 20px;
}

.header__title {
  font-family: var(--font-accent);
  text-transform: uppercase;
  font-size: var(--font-accent-size-title);
  line-height: 100%;
  text-wrap: nowrap;
}

.header__subtitle {
  font-family: var(--font-accent);
  font-size: var(--font-accent-size-subtitle);
  text-transform: uppercase;
  line-height: 100%;
  text-wrap: nowrap;
}

.main__box {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  max-width: 100%;
}

.main__title {

}

.main__img {

}

.main__text {
  max-width: 100%;
}

.card__like-button {

}

.like-icon {

}

.card__icon-button {

}

.button__text {
  
}