:root {
  --font-primary: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', sans-serif;
  
  --font-primary-weight-base: 410;
  --font-button-weight-base: 400;
  --font-primary-weight-heading: 715;
  --font-accent-size-title: clamp(49px, 2.2vw + 35.75px, 65px);
  --font-accent-size-subtitle: clamp(14px, 0.845vw + 10.831px, 23px);
  --font-button-size-base: 14px;
  --font-img-label-size-base: 14px;
  --font-card-text-size: 18px;
  --font-card-line-height: 21px;

  --font-border-label: white;

  --section-width: clamp(375px, 50vw, 700px);
  --padding-heading: clamp(120px, 0.751vw + 119.184px, 130px) clamp(16px, 10vw - 21.5px, 122.5px);

  --heart-contour: black;
  --heart-red-fill-color: red;
  --heart-black-fill-color: black;


  --background-gradient:
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}
